@import "tailwindcss";

@theme {
  --color-gold-premium: #D4AF37;
  --color-dark-surface: #1A1A1A;
  --color-light-surface: #FDFBF7;
}

::selection {
  background-color: #D4AF37;
  color: #1A1A1A;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}